*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;

    #calculator{
        display: flex;
        flex-direction: column;
        background-color: rgb(68, 66, 66);
        border-radius: 10px;
        padding: 40px 30px;
        width: 350px;

        #result{
            color: rgb(255, 255, 255);
            background-color: rgb(198, 195, 195);
            height: 50px;
            font-size: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
        #keyboard{
            display: flex;
            #action{
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                margin-left: 20px;
                button{
                    margin: 5px;
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                }
                button[id="equal"]
                {
                    background-color: #ffa802;
                }
            }
        }
        #nums{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            button{
                margin: 10px;
                width: 40px;
                height: 40px;
                font-size: 20px;
            }
            #delete{
                grid-column: span 2;
                width: 80%;
                background-color: #bf002b;
            }
        }
    }
}