*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --bg-game-color: rgba(5, 76, 209, 0.6);
    --primary-bg-header-color: #0360bd;
    --set-up-bg-color: #eae9e9;
}
/*
External
 */
@font-face {
    font-family:sudokuFont ;
    src: url(../sudoku/ext-stuff/Navex-Regular.ttf);
}


/*
External
 */

/*
Header
 */
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    background-color: var(--primary-bg-header-color);
    h1{
        font-family: sudokuFont ;
        font-size: 50px;
        color: white;
    }
}
#ranking-container{
    display: flex;
    align-items: center;
    svg{
        width: 30px;
        color: #f1c822;
    }
    a{
        text-decoration: none;
        font-family: poppins;
        font-size: 20px;
        color: white;
        padding: 10px;
    }
}
#under-header{
    display: flex;
    justify-content: center;

}
#setUp-container{
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    background-color: var(--primary-bg-header-color) ;
    border: 10px solid var(--set-up-bg-color);
    border-radius: 10px;

    button{
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    button[id=start-button]{
        align-self: center;
    }
}

#setUp-difficulty{
    display: flex;
}
/*
Header
 */

/*
Game/main section
 */
section{
    display: flex;
    justify-content: center;
    height: 100vh;

}

#game-container{
    margin-top: 3rem;
    width: 45rem;
    height: 45rem;
    border: 5px solid #454545;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*
Game/main section
 */